
<form (ngSubmit)="onSubmit()">

    <div class="input-group">
        <p>
            <label for="">Intial Investment</label>
            <input type="number" name="intialInvestment" [(ngModel)] ="intialInvestment">
        </p>
        <p>
            <label for="">Annual Investment</label>
            <input type="number" name="annualInvestment" [(ngModel)] ="annualInvestment">
        </p>
    </div>


    <div class="input-group">
        <p>
            <label for="">Expected Return</label>
            <input type="number" name="expectedReturn" [(ngModel)] ="expectedReturn">
        </p>
        <p>
            <label for="">Duration</label>
            <input type="number" name="duration" [(ngModel)] ="duration">
        </p>
    </div>

    <p>
        <button type="submit">Calculate</button>
    </p>

</form>